
/***** 
handles
bordes rectangulos 
*/

 .ui-resizable-n{
	border-top : 1px dashed #669;

 }

.ui-resizable-s{
	border-bottom:  1px dashed #669;
}


.ui-resizable-w
{
	border-left:  1px dashed #669;

}

.ui-resizable-e{
border-right:   1px dashed #669;

}



/***
los handles 
para de los cuadritos 
**
***/

.ui-resizable-rotate {
	top: -25px;
	left: 50%;
	height: 10px;
	width: 10px;
	background: #919481;
	
}


.ui-resizable-n {
	
	cursor: n-resize;
	outline: 1px solid #669;
	background: #fff;
	border-radius: 0;
	top: 0%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	margin-left: -4px;
	z-index: 10001;
}





.ui-resizable-ne {
	
	cursor: ne-resize;
	outline: 1px solid #669;
	width: 8px;
	background: #fff;
	height: 8px;
	right: -7px;
	top: -7px;
	border-radius: 0;
}


.ui-resizable-se {
	outline: 1px solid #669;
	cursor: se-resize;
	width: 8px;
	background: #fff;
	height: 8px;
	right: -7px;
	bottom: -7px;
	border-radius: 0;
}


.ui-resizable-sw {
	outline: 1px solid #669;
	cursor: sw-resize;
	width: 8px;
	background: #fff;
	height: 8px;
	left: -7px;
	bottom: -7px;
	border-radius: 0;
}



.ui-resizable-nw {
	outline: 1px solid #669;
	cursor: se-resize;
	width: 8px;
	background: #fff;
	height: 8px;
	right: -7px;
	bottom: -7px;
	border-radius: 0;
}



.ui-resizable-nw ,  .ui-resizable-sw , .ui-resizable-se ,.ui-resizable-ne ,.ui-resizable-nw
{
	z-index: 10001;
	display: block;
	border: 1px solid #aeaeae;
	background-color: #e5e5e5;
	background-image: linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -o-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -moz-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -webkit-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -ms-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.60,#e5e5e5),color-stop(0.80,#d7d7d7),color-stop(0.90,#ccc));

}


/* elemento de posiciones  */
.puntos_conexion
{
	width: 10px;
	height: 10px;	
	position: absolute;
	background-image:url('../img/cruz.gif');
	background-size: 100% 100%;
	

}


/*n1*/
div[data-mielemento=n1] .punto1
{
	top: 50%;
	left: -15px;
}


div[data-mielemento=n1] .punto2
{
	top: 50%;
	right: -15px;
}


div[data-mielemento=n1] .punto3
{
	bottom: -15px;
	left: 50%;
}

div[data-mielemento=n1] .punto4
{
	top: -15px;
	left: 50%;
}

/*n2*/
div[data-mielemento=n2] .punto1,div[data-mielemento=n3] .punto1
,div[data-mielemento=n4] .punto1,div[data-mielemento=n5] .punto1
,div[data-mielemento=n6] .punto1,div[data-mielemento=n7] .punto1
,div[data-mielemento=n8] .punto1
{
	top: 50%;
	left: -15px;
}


div[data-mielemento=n2] .punto2,div[data-mielemento=n3] .punto2
,div[data-mielemento=n4] .punto2,div[data-mielemento=n5] .punto2
,div[data-mielemento=n6] .punto2,div[data-mielemento=n7] .punto2
,div[data-mielemento=n8] .punto2
{
	top: 50%;
	right: -15px;
}


div[data-mielemento=n2] .punto3,div[data-mielemento=n3] .punto3
,div[data-mielemento=n4] .punto3,div[data-mielemento=n5] .punto3
,div[data-mielemento=n6] .punto3,div[data-mielemento=n7] .punto3
,div[data-mielemento=n8] .punto3
{
	bottom: -15px;
	left: 50%;
}

div[data-mielemento=n2] .punto4 ,div[data-mielemento=n3] .punto4 
,div[data-mielemento=n4] .punto4,div[data-mielemento=n5] .punto4
,div[data-mielemento=n6] .punto4,div[data-mielemento=n7] .punto4
,div[data-mielemento=n8] .punto4
{
	top: -15px;
	left: 50%;
}





/* da efectos de sobras verdes a  la cruz de ancla*/
.puntos_conexion_resaltados{
	-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 154, 50, 0.84);
	-moz-box-shadow:    0px 0px 14px 0px rgba(50, 154, 50, 0.84);
	box-shadow:         0px 0px 14px 0px rgba(50, 154, 50, 0.84);
	background-color:  rgba(50, 154, 50, 0.84);
} 

     .punto_circle{
        background:#DBDCD6;
        border: 1px solid #B9B9B9;
        z-index:200; 
        position: absolute;
        background-position: -626px -114px; 
        width: 12px;
        height: 12px;
        border-radius: 10px;
        cursor: url("cursor/icn_cursor_move.cur"),move !important;
       
              }






/**************************************/


/*#contextMenuItems */
#herramientas_grupo_botones {
	
	display: inline-block;
	position: absolute;
	z-index: 1000;
	background-color: #235695;
}

#herramientas_grupo_botones .icon2 ,#botones_principales .icon2 {
	
	display: block;
	/*
	border: 1px solid #635C5C;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#BBC2F5));
	background-image: -moz-linear-gradient(top,#FBFBFB,#ECECEC);
	position: absolute;*/
	width: 38px;
	height: 38px;
	
	margin: 1px;
	padding: 3;
	-webkit-transition: top .30s ease-in-out;
	-moz-transition: top .30s ease-in-out;
	 transition: top .30s ease-in-out; 
	/*box-shadow: 2px 2px 4px grey;*/
	overflow: hidden;
	text-align: center;
}


.active_icons{
	background: #235695 !important;
	color: black;
}


/************ menu movil ******************/

#herramientas_grupo_botones .icon2:hover  {
	cursor: pointer;
	/*
	background-image: -webkit-gradient(linear,left top,left bottom,from(#BEBEBE),to(#BBC2F5));
	background-image: -moz-linear-gradient(top,#AEAEAE,#ECECEC);*/
	text-decoration: none;
	background-color: #2F73C6;
	
}


 #herramientas_grupo_botones .main  {
	width: 20px;
	height: 38px;
	margin: 0;
	cursor: move !important;
}

#herramientas_grupo_botones .mi_icons ,#botones_principales .mi_icons{
	font-size: 32px;
	/* overflow: hidden; */
	line-height: 0px;
	
}


.mi_icons2{

	font-size: 30px;
	color:#F0F0EE;
	

	/* overflow: hidden; */
	line-height: 30px;
}


.sub_boton{
	background: #235695;
}



#herramientas_grupo_botones .panel_grupo_botones{

	position: absolute;
	top: 50px;
	left: -50px;
	background-color: #F4F4F4;
	padding: 2px;
	box-shadow: 2px 2px 4px grey;
	border: 1px solid #999;
	border-radius: 5px;
	/*width: 100px;*/
	height: auto;
	width: 200px;
	
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#BBC2F5));
	background-image: -moz-linear-gradient(top,#FBFBFB,#ECECEC);
}

#herramientas_grupo_botones .panel_grupo_botones:hover{
	
}

#panel_editar_letras td{
	 padding: 0px;
	font-size: 0.875rem;
	color: #61606D; 
	border: none;
	border-color: none;
	text-align: center;
}

#panel_tipo_color{

	height: 20px;
	margin: 2px auto;
}
/************ fin menu movil ******************/