
/***** 
handles
bordes rectangulos 
*/

 .ui-resizable-n{
	border-top : 1px dashed #669;

 }

.ui-resizable-s{
	border-bottom:  1px dashed #669;
}


.ui-resizable-w
{
	border-left:  1px dashed #669;

}

.ui-resizable-e{
border-right:   1px dashed #669;

}



/***
los handles 
para de los cuadritos 
**
***/

.ui-resizable-rotate {
	top: -25px;
	left: 50%;
	height: 10px;
	width: 10px;
	background: #919481;
	
}







.ui-resizable-ne {
	
	cursor: ne-resize;
	outline: 1px solid #669;
	width: 8px;
	background: #fff;
	height: 8px;
	right: -7px;
	top: -7px;
	border-radius: 0;
}


.ui-resizable-se {
	outline: 1px solid #669;
	cursor: se-resize;
	width: 8px;
	background: #fff;
	height: 8px;
	right: -7px;
	bottom: -7px;
	border-radius: 0;
}


.ui-resizable-sw {
	outline: 1px solid #669;
	cursor: sw-resize;
	width: 8px;
	background: #fff;
	height: 8px;
	left: -7px;
	bottom: -7px;
	border-radius: 0;
}



.ui-resizable-nw {
	outline: 1px solid #669;
	cursor: se-resize;
	width: 8px;
	background: #fff;
	height: 8px;
	right: -7px;
	bottom: -7px;
	border-radius: 0;
}



.ui-resizable-nw ,  .ui-resizable-sw , .ui-resizable-se ,.ui-resizable-ne ,.ui-resizable-nw
{
	z-index: 10001;
	display: block;
	border: 1px solid #aeaeae;
	background-color: #e5e5e5;
	background-image: linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -o-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -moz-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -webkit-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -ms-linear-gradient(top,#e5e5e5 60%,#d7d7d7 80%,#ccc 90%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.60,#e5e5e5),color-stop(0.80,#d7d7d7),color-stop(0.90,#ccc));

}


/* elemento de posiciones  */
.puntos_conexion
{
	width: 10px;
	height: 10px;	
	position: absolute;
	background-image:url('../img/cruz.gif');
	background-size: 100% 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

div[data-mielemento] .ui-resizable-bton_edicion>a, 
div[data-mielemento] .ui-resizable-bton_ver_personal>a {
	color: #F1F1EF;
}


/******** impide dejar visible algunso botones para un tipos espeficio *********/
 div[data-mielemento="n1"] .ui-resizable-bton_edicion,
 div[data-mielemento="n2"] .ui-resizable-bton_edicion,
 div[data-mielemento="n5"] .ui-resizable-bton_edicion{
	display: none !important;
}


div[data-mielemento] .ui-resizable-bton_edicion:hover,
div[data-mielemento] .ui-resizable-bton_ver_personal:hover{

	opacity: 1;
}

div[data-mielemento] .ui-resizable-bton_edicion,
div[data-mielemento] .ui-resizable-bton_ver_personal,
div[data-mielemento] .bton_mensaje_mostrar
{
	opacity: 0.6;
	line-height: 0.1;
	height: 27px;
	width: 30px;
	border-radius: 7px;
	top: -36px;
	right: -5px;

	margin: 1px;
	overflow: hidden;
	text-align: center;
	font-size: 28px;
	/*background: rgb(231, 231, 231);
	color: rgb(35, 86, 149);
	
	*/
	border-radius: 6px;
	padding: 1px;
	vertical-align: middle;
	box-shadow: 2px 2px 5px #999;
	position: absolute;

			background-color: #284570;
						background-image: -moz-linear-gradient(top, #5683b1, #2d4e13);
						background-image: -ms-linear-gradient(top, #5683b1, #2d4e13);
						background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5683b1), to(#2d4e13));
						background-image: -webkit-linear-gradient(top, #5683b1, #2d4e13);
						background-image: -o-linear-gradient(top, #5683b1, #2d4e13);
						background-image: linear-gradient(top, #5683b1, #2d4e13);
						background-repeat: repeat-x;
						filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#5683B1', EndColorStr='#2d4e13');
						border-color: #2d4e13 #2d4e13 #003580;
						border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
						filter: progid:dximagetransform.microsoft.gradient(enabled=false);
						color: #fff;


}

.bton_mensaje_mostrar{
	display: none;
}


body[data-estado='3'] div[data-mielemento] .bton_mensaje_mostrar{

	display: block !important;
}


body[data-estado='3'] div[data-mielemento] .bton_mensaje_mostrar>a{

	color:#E6E7E2 !important;
}



div[data-mielemento] .ui-resizable-bton_ver_personal{
 right: 30px !important;	
}

div[data-mielemento=n1]{
	width: 54px;
	height: 54px;
}

div[data-mielemento=n2]{
	width: 72px;
	height: 64px;
}

div[data-mielemento=n3] , div[data-mielemento=n4],div[data-mielemento=n5],div[data-mielemento=n6],div[data-mielemento=n7]
,div[data-mielemento=n8]{
	width: 150px;
	height: 150px;
}





/*n1*/
div[data-mielemento=n1] .punto1
{
	top: 50%;
	left: -15px;
}


div[data-mielemento=n1] .punto2
{
	top: 50%;
	right: -15px;
}


div[data-mielemento=n1] .punto3
{
	bottom: -15px;
	left: 50%;
}

div[data-mielemento=n1] .punto4
{
	top: -15px;
	left: 50%;
}

/*n2*/
div[data-mielemento=n2] .punto1,div[data-mielemento=n3] .punto1
,div[data-mielemento=n4] .punto1,div[data-mielemento=n5] .punto1
,div[data-mielemento=n6] .punto1,div[data-mielemento=n7] .punto1
,div[data-mielemento=n8] .punto1
{
	top: 50%;
	left: -15px;
}


div[data-mielemento=n2] .punto2,div[data-mielemento=n3] .punto2
,div[data-mielemento=n4] .punto2,div[data-mielemento=n5] .punto2
,div[data-mielemento=n6] .punto2,div[data-mielemento=n7] .punto2
,div[data-mielemento=n8] .punto2
{
	top: 50%;
	right: -20px;
}


div[data-mielemento=n2] .punto3,div[data-mielemento=n3] .punto3
,div[data-mielemento=n4] .punto3,div[data-mielemento=n5] .punto3
,div[data-mielemento=n6] .punto3,div[data-mielemento=n7] .punto3
,div[data-mielemento=n8] .punto3
{
	bottom: -15px;
	left: 50%;
}

div[data-mielemento=n2] .punto4 ,div[data-mielemento=n3] .punto4 
,div[data-mielemento=n4] .punto4,div[data-mielemento=n5] .punto4
,div[data-mielemento=n6] .punto4,div[data-mielemento=n7] .punto4
,div[data-mielemento=n8] .punto4
{
	top: -15px;
	left: 50%;

}





/* da efectos de sobras verdes a  la cruz de ancla*/
.puntos_conexion_resaltados{
	-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 154, 50, 0.84);
	-moz-box-shadow:    0px 0px 14px 0px rgba(50, 154, 50, 0.84);
	box-shadow:         0px 0px 14px 0px rgba(50, 154, 50, 0.84);
	background-color:  rgba(50, 154, 50, 0.84);
} 












/**************************************/


/*#contextMenuItems */
#herramientas_grupo_botones 
,#herramientas_grupo_botones2 {
	
	display: inline-block;
	position: absolute;
	z-index: 1000;
	background-color: transparent;
}

#herramientas_grupo_botones .icon2 ,#botones_principales .icon2,
#herramientas_grupo_botones2 .icon2 ,#botones_principales2 .icon2 {
	
	display: block;
	width: 38px;
	height: 38px;
	margin: 1px;
	padding: 3;
	-webkit-transition: top .30s ease-in-out;
	-moz-transition: top .30s ease-in-out;
	 transition: top .30s ease-in-out; 
	/*
	box-shadow: 2px 2px 4px grey;
	*/
	overflow: hidden;
	text-align: center;
}


.active_icons{
	background: #2d4e13 !important;
	color: black;
}


/************ menu movil ******************/

#herramientas_grupo_botones .icon2:hover
,#herramientas_grupo_botones2 .icon2:hover  {
	cursor: pointer;
	/*
	background-image: -webkit-gradient(linear,left top,left bottom,from(#BEBEBE),to(#BBC2F5));
	background-image: -moz-linear-gradient(top,#AEAEAE,#ECECEC);*/
	text-decoration: none;
	background-color: #FFFFFF;
	color:#5F89BD;
	
}


 #herramientas_grupo_botones .main
 ,#herramientas_grupo_botones2 .main  {
	width: 20px;
	height: 38px;
	margin: 0;
	cursor: move !important;
}

#herramientas_grupo_botones .mi_icons ,#botones_principales .mi_icons
,
#herramientas_grupo_botones2 .mi_icons ,#botones_principales2 .mi_icons{
	font-size: 32px;
	/* overflow: hidden; */
	line-height: 0px;
	
}


.mi_icons2{

	font-size: 30px;
	color:#F0F0EE;
	

	/* overflow: hidden; */
	line-height: 30px;
}


.sub_boton{
	background: #2d4e13;
}



#herramientas_grupo_botones .panel_grupo_botones
,#herramientas_grupo_botones2 .panel_grupo_botones{

	position: absolute;
	top: 50px;
	left: -50px;
	background-color: #F4F4F4;
	padding: 2px;
	box-shadow: 2px 2px 4px grey;
	border: 1px solid #999;
	border-radius: 5px;
	/*width: 100px;*/
	height: auto;
	width: 200px;
	
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#BBC2F5));
	background-image: -moz-linear-gradient(top,#FBFBFB,#ECECEC);
}

#herramientas_grupo_botones .panel_grupo_botones:hover{
	
}

#panel_editar_letras td,
#panel_editar_letras2 td{
	 padding: 0px;
	font-size: 0.875rem;
	color: #61606D; 
	border: none;
	border-color: none;
	text-align: center;
}

#panel_tipo_color{

	height: 20px;
	margin: 2px auto;
}
/************ fin menu movil ******************/







#botones_panel_superior>ul>li>a {
display: inline-block;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 13px;
line-height: 18px;

text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(top,#fff,#e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff',endColorstr = '#e6e6e6',GradientType = 0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled = false);
border: 1px solid #ccc;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
cursor: pointer;
}


/***** botnes ****/
#bton_Guardar,
#bton_nueva_pagina,
#bton_elimina_pagina
{
	padding: 5px 15px;
	background-color: #43ac6a !important;
	border-color: #368a55 !important;
	color: white !important;
}
#bton_Guardar>span,
#bton_nueva_pagina>span,
#bton_elimina_pagina>span
{


}


#dialog_diagrama{
	width: 100% !important;
}


#dialog_diagrama textarea{
	margin: 0px !important;
	font-size: 13px;

}

.reveal-modal {
    padding: 2;
    max-width: 350px;


}



.descripcion_linea{
	position: absolute;
	color: #06821C;
	background: rgba(35, 86, 149, 0.53);
	color: white;
	padding: 2px 5px;
	z-index: 200;
}


.descripcion_linea:focus{
	background-color:#e7e7e7; 
	color: #36372F;
}

.descripcion_linea:hover{
	cursor: default;
}




/*******    ********/
						
.gritter-notice-wrapper .gritter-item-wrapper {
	position: relative;
	margin: 0 0 10px 0;
	
}


.gritter-notice-wrapperv{
	display: block;
}


.gritter-top {
	height: 10px;
	background: rgba(25, 55, 92, 0.73);
	border-radius: 50px 50px 0px 0px;
}


.gritter-bottom{
	height: 10px;
	background: rgba(25, 55, 92, 0.73);
	border-radius: 0px 0px 50px 50px;
}

.gritter-notice-wrapper {
	position: absolute;
	top: 20px;
	right: 400px;
	width: 301px;
	z-index: 9999;
	cursor: move;
}


.gritter-item{
	background: rgba(25, 55, 92, 0.73);
	padding: 5px 2px 2px 10px;
	/*color: aquamarine;*/
	color:rgb(207, 207, 207);
}

.gritter-title{
	color: aquamarine;
}

.gritter-item .contenido_p{
	font-size: 11px;
	font-family: verdana;

}

/** bordes*/
.gritter-notice-wrapper[data-foco='S'] .gritter-item
{
	border-left: 3px solid #E4E4E4;
	border-right: 3px solid #E4E4E4;
}

.gritter-notice-wrapper[data-foco='S'] .gritter-top {
	border-top: 3px solid #E4E4E4;
}

.gritter-notice-wrapper[data-foco='S'] .gritter-bottom{
	border-bottom: 3px solid #E4E4E4;
}

.gritter-notice-wrapper[data-foco='S'] {
	opacity: 1;
}

.gritter-notice-wrapper[data-foco='S'] .gritter_cerrar{
	display: block;
}

.gritter-notice-wrapper[data-foco='N'] {
	opacity: 0.5;
}


.gritter-notice-wrapper[data-foco='N'] .gritter_cerrar{
	display: none;
}



/*.diagrama_modoread:hover{
	-webkit-box-shadow: 2px 2px 5px #2d4e13;
	-moz-box-shadow: 2px 2px 5px #2d4e13;
	box-shadow: 2px 2px 5px #2d4e13;

}*/










/******** scroll ****/
.gritter-notice-wrapper ::-webkit-scrollbar{
  width: 10px;
  background: #dbe8ec;
}
.gritter-notice-wrapper ::-webkit-scrollbar-button{
  width:8px;
  height: 5px;
}

.gritter-notice-wrapper ::-webkit-scrollbar-track{
  background:#3c454e;
  border:thin solid #1a1f25;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.gritter-notice-wrapper ::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(top, #0F1A46, #56584B);
  -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5),
                inset 1px 0 0 rgba(255,255,255,.4),
                inset 0 1px 2px rgba(255,255,255,.3);
 
  border:thin solid #232c34;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.gritter-notice-wrapper ::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #56584B, #0F1A46);
}
/* Pseudo-clase */
.gritter-notice-wrapper ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(6, 83, 179,.6);
}
/***** fin del scroll ********/


/*
[contenteditable='true']:focus{
	cursor:default;
}*/

/******* alteracion del dialog ****/
.ui-dialog .ui-dialog-titlebar {
	padding: 1px 5px;
	text-align: center;
	height: 20px;
	font-size: 10px;
}

.ui-dialog .ui-dialog-titlebar-close
{
	padding: 1px;
	width: 12px;

	margin-top: -5px;
	height: 10px;
	margin-right: 1px;
}

.ui-widget-content {
	border: 1px solid #FFFFFF;
}


#dialog_diagrama{
	padding:1px 10px; 
}

.ui-dialog{
	padding: 0px;
	background: rgb(200, 197, 197);
}

.ui-dialog .ui-dialog-buttonpane
{
	padding: 0px 5px;
	margin: 0px;
}


.ui-dialog .ui-dialog-buttonpane button {
margin: .5em .4em .5em 0;
cursor: pointer;
background: #2d4e13;
color:#C4C6BB;
}


.ui-dialog 
	{
		width: 166px;
		margin: auto;
		float:none;
	}






/********* cuadro ****/

.caudro_lineal{
border-color: black;
border-width: 2px;
background: #FFFFFF;
width: 100px;
height: 100px;
position: absolute;
z-index: 3;

}


.caudro_lineal_top{
	width: 100%;
	height: 5px;
	border-top: 1px dashed #2d4e13;
	position: absolute;
	right: 0;
	top: 0;
	
}


.caudro_lineal_left{
	border-left: 1px dashed #2d4e13;
	width: 5px;
	height: 100%;
	position: absolute;
	left: -5px;
	top: 0;
	
}


.caudro_lineal_right{
	border-right: 1px dashed #2d4e13;
	width: 5px;
	height: 100%;
	position: absolute;
	right: -5px;
	top: 0;
	
}

.caudro_lineal_bottom{
	border-bottom: 1px dashed #2d4e13;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 0;
	
	
}



body[data-estado='4'] .caudro_lineal_top:hover,
body[data-estado='4'] .caudro_lineal_left:hover,
body[data-estado='4'] .caudro_lineal_right:hover,
body[data-estado='4'] .caudro_lineal_bottom:hover{
	background:#C5C9FE;
	cursor: move;
}



body[data-estado='4'] .caudro_lineal:hover{
	
	cursor: move;
}





.ui-dialog-titlebar{
	background: rgb(45, 78, 19);
}



.mover_grupos{

	padding: 0;
	border: 1px solid #3cf;

	margin: 0;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 100;

}


.elementos_seleccionado path, .elementos_seleccionado rect ,.elementos_seleccionado ellipse{

	background: rgb(71, 160, 1);
	box-shadow: 2px 2px 10px #518CA6;
	fill: rgba(66, 90, 47, 0.59) !important;
}


/* agrupador de elementos seleccionados*/
.agrupador_inicial_seleccionados{

	padding: 0;
	border: 1px solid #6AAE34;
	margin: 0;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 100;


}